.dados{
  font-size:x-large; 
  font-family:cursive;
  color: azure;
}

.msg{
   position:relative;
    width: 40%;
    float: right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
    font-size: x-large;
}

.center{
  width: 100%;
  height: 100vh;
}
